<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Homepage</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="/blog">Blog</a></li>
			<li {% if current[1] == 'About-life.html' %}class='current'{% endif %}><a href="/About-life.html">About life</a></li>
			<li {% if current[1] == 'About-work.html' %}class='current'{% endif %}><a href="/About-work.html">About work</a></li>
			<li {% if current[1] == 'About-knowledge.html' %}class='current'{% endif %}><a href="/About-knowledge.html">About knowledge</a></li>
		</ul>
	</nav>
</div>